.slider{
    max-width: 90%;
    position: relative;
    margin-top: 13%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    align-items: center;
}
/* Картинка мастабируется по отношению к родительскому элементу */
.slider .item img{
    object-fit: cover;
    border: none !important;
    height: 80vh;
    box-shadow: none !important;
}
/* Кнопки вперед и назад */
.slider .prev, .slider .next {
    cursor: pointer;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 5px;
}
.slider .next {
    right: 0;
    border-radius: 5px;
}
/* При наведении на кнопки добавляем фон кнопок */
.slider .prev:hover,
.slider .next:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}
/* Заголовок слайда */
.slideText {
    position: absolute;
    color: #fff;
    font-size: 35px;
    /* Выравнивание текста по горизонтали и по вертикали*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* Тень*/
    text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}
/* Кружочки */
.slider-dots {
    justify-content: center;
    margin-right: 8%;
    display: flex;
    flex-direction: row;
}
.slider-dots_item{
    cursor: pointer;
    height: 10px;
    width: 30px;
    margin: 0 5px;
    background-color: #ddd;
    transition: background-color 0.6s ease;
}
.active,
.slider-dots_item:hover {
    background-color: #aaa;
}
/* Анимация слайдов */
.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}